<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <h1 id="pressure"></h1>
    <h1 id="humidity"></h1>
    <img src={{src}} />
    <input type="text" id="address" />
    <button id="submit">Fetch</button>
    <script src="/js/app.js"></script>
</body>

</html>